.brands {
  display: flex;
  width: 1140px;
  margin: auto;
  justify-content: space-between;
  padding-bottom: 81px;
  padding-top: 30px;
  align-items: center;
  max-height: 100%;
  filter: grayscale(100%);
}
